audio:
  chunk_size: 131584
  dim_f: 1024
  dim_t: 515
  hop_length: 512
  n_fft: 2048
  num_channels: 1
  sample_rate: 16000
  min_mean_abs: 0.000

model: dptnet

training:
  batch_size: 12  # Number of samples per batch
  gradient_accumulation_steps: 1  # Gradient accumulation steps
  grad_clip: 0  # Gradient clipping threshold
  instruments:  # Instruments used in training
    - vocals  # Vocals
    - noise  # Noise
  lr: 5.0e-4  # Learning rate
  patience: 2  # Learning rate scheduler patience
  reduce_factor: 0.95  # Learning rate reduction factor
  target_instrument: vocals  # Target instrument
  num_epochs: 1000  # Number of training epochs
  num_steps: 200  # Steps per epoch
  q: 0.95  # Quantile parameter
  coarse_loss_clip: true  # Whether to clip coarse loss
  ema_momentum: 0.999  # Exponential moving average momentum
  optimizer: adamw  # Optimizer type
  other_fix: false  # Other fix flag
  use_amp: false  # Whether to use automatic mixed precision
  early_stop:  # Early stopping configuration
    enabled: true  # Whether to enable early stopping
    patience: 30  # Early stopping patience
    metric: "si-sdr"  # Metric for early stopping

inference:
  batch_size: 10           # Number of samples per batch
  num_overlap: 4           # Number of overlaps
